name: Compile

on:
    push:
        paths-ignore:
            - 'LICENSE'
            - '*.md'
        branches:
            - main
    pull_request:
        paths-ignore:
            - 'LICENSE'
            - '*.md'
    workflow_dispatch:

jobs:
    macos-15-amd64-mini:
        runs-on: macos-15-intel
        steps:
            - uses: actions/checkout@v4
            
            - name: Install Arturo
              uses: ./
              with: 
                do: compile
                mode: mini
                token: ${{ secrets.GITHUB_TOKEN }}

            - name: Test Arturo
              run: |
                tests/verify.sh macos amd64 mini