name: Fetch

on:
    push:
        paths-ignore:
            - 'LICENSE'
            - '*.md'
        branches:
            - main
    pull_request:
        paths-ignore:
            - 'LICENSE'
            - '*.md'
    workflow_dispatch:

jobs:
    windows-2025-amd64:
        runs-on: windows-2025
        steps:
            - uses: actions/checkout@v4
            
            - name: Install Arturo
              uses: ./
              with: 
                token: ${{ secrets.GITHUB_TOKEN }}

            - name: Test Arturo
              run: |
                tests/verify.sh windows amd64 full
              shell: "msys2 {0}"