name: Fetch

on:
    push:
        paths-ignore:
            - 'LICENSE'
            - '*.md'
        branches:
            - main
    pull_request:
        paths-ignore:
            - 'LICENSE'
            - '*.md'
    workflow_dispatch:

concurrency: 
    group: ${{ github.workflow }}/${{ github.run_id }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    windows-2025-amd64-mini:
        runs-on: windows-2025
        steps:
            - uses: actions/checkout@v4
            
            - name: Install Arturo
              uses: ./
              with: 
                mode: mini
                token: ${{ secrets.GITHUB_TOKEN }}

            - name: Test Arturo
              run: |
                tests/verify.sh windows amd64 mini
              shell: "msys2 {0}"