name: Native

on:
    push:
        paths-ignore:
            - 'LICENSE'
            - '*.md'
        branches:
            - main
    pull_request:
        paths-ignore:
            - 'LICENSE'
            - '*.md'
    workflow_dispatch:

jobs:
    linux-legacy:
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v4
            
            - name: Install Arturo
              uses: ./
              with: 
                token: ${{ secrets.GITHUB_TOKEN }}

            - name: Test Arturo
              run: |
                arturo -v
                arturo -e "print [{os:} sys\os]"
                arturo -e "print [{release:} sys\release]"
                arturo -e "print [{arch:} sys\cpu\arch]"
                
                DETECTED_OS=$(arturo -e "print sys\os")
                if [ "$DETECTED_OS" != "linux" ]; then
                    echo "UNEXPECTED OS: Got $DETECTED_OS"
                    exit 1
                fi

                DETECTED_ARCH=$(arturo -e "print sys\cpu\arch")
                if [ "$DETECTED_ARCH" != "amd64" ]; then
                    echo "UNEXPECTED ARCH: Got $DETECTED_ARCH"
                    exit 1
                fi

                DETECTED_RELEASE=$(arturo -e "print sys\release")
                if [ "$DETECTED_RELEASE" != "full" ]; then
                    echo "UNEXPECTED RELEASE: Got $DETECTED_RELEASE"
                    exit 1
                fi