name: Pre-built

on:
    push:
        paths-ignore:
            - 'LICENSE'
            - '*.md'
        branches:
            - main
    pull_request:
        paths-ignore:
            - 'LICENSE'
            - '*.md'
    workflow_dispatch:

jobs:
    macos-15-arm64:
        runs-on: macos-15
        steps:
            - uses: actions/checkout@v4
            
            - name: Install Arturo
              uses: ./
              with: 
                build: false
                token: ${{ secrets.GITHUB_TOKEN }}

            - name: Test Arturo
              run: |
                tests/verify.sh macos arm64 full