name: Builder

on:
    push:
        paths-ignore:
            - 'LICENSE'
            - '*.md'
        branches:
            - main
    pull_request:
        paths-ignore:
            - 'LICENSE'
            - '*.md'
    workflow_dispatch:

concurrency: 
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    test:
        runs-on: ${{ (matrix.os == 'linux' && matrix.webkit == '41' && 'ubuntu-latest') || (matrix.os == 'linux' && 'ubuntu-22.04') || (matrix.os == 'windows' && 'windows-latest') || (matrix.os == 'macos' && matrix.arch == 'arm64' && 'macos-latest') || (matrix.os == 'macos' && 'macOS-15-intel') || 'ubuntu-latest' }}
        strategy:
            matrix:
                include: 
                    - {name: "Linux (amd64 / full / webkit-4.1)", os: linux,   arch: amd64, mode: full, webkit: "41"}
                    - {name: "Linux (amd64 / full)",              os: linux,   arch: amd64, mode: full}
                    - {name: "Linux (amd64 / mini)",              os: linux,   arch: amd64, mode: mini}
                    - {name: "Linux (arm64 / mini)",              os: linux,   arch: arm64, mode: mini}
                    - {name: "JS (web / mini)",                   os: web}
                    - {name: "Windows (amd64 / full)",            os: windows, arch: amd64, mode: full}
                    - {name: "Windows (amd64 / mini)",            os: windows, arch: amd64, mode: mini}
                    - {name: "macOS (amd64 / full)",              os: macos,   arch: amd64, mode: full}
                    - {name: "macOS (amd64 / mini)",              os: macos,   arch: amd64, mode: mini}
                    - {name: "macOS (arm64 / full)",              os: macos,   arch: arm64, mode: full}
                    - {name: "macOS (arm64 / mini)",              os: macos,   arch: arm64, mode: mini}
                    - {name: "FreeBSD (amd64 / mini)",            os: freebsd, arch: amd64, mode: mini}
                    - {name: "FreeBSD (amd64 / full / webkit-4.0)", os: freebsd, arch: amd64, mode: full}
                    - {name: "FreeBSD (amd64 / full / webkit-4.1)", os: freebsd, arch: amd64, mode: full, webkit: "41"}
        name: ${{ matrix.name }}
        steps:
            - uses: actions/checkout@v4

            - name: Install Arturo
              uses: ./
              with: 
                token: ${{ secrets.GITHUB_TOKEN }}
                os: ${{ matrix.os }}
                arch: ${{ matrix.arch || 'amd64' }}
                mode: ${{ matrix.mode || 'mini' }}
                webkit: ${{ matrix.webkit || '40' }}

            - if: runner.os != 'Linux' || matrix.arch != 'arm64'
              name: Run tests
              run: |
                arturo -v
                arturo tests/test.art