name: Minimal Test

on:
    push:
        paths-ignore:
            - 'LICENSE'
            - '*.md'
        branches:
            - main
    pull_request:
        paths-ignore:
            - 'LICENSE'
            - '*.md'
    workflow_dispatch:

jobs:
    test-windows:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v4
            
            - name: Install Arturo
              uses: ./
              with: 
                token: ${{ secrets.GITHUB_TOKEN }}

            - name: Test Arturo
              run: |
                arturo -v
                arturo -e "print [{Current release:} sys\release]"